<% layout('./layouts/boilerplate.ejs') %> 
    <div class="row">
        <h1 class="text-center">Welcome Aboard!</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="POST" novalidate class="validation-required-limit-10" enctype="multipart/form-data"> 
                <div class="mb-3">
                    <label class="form-label" for="title" >Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" required>
                </div>
                <div class="mb-3">
                <label class="form-label" for="location">location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">price</label>
                    <div class="input-group">
                        <span class="input-group-text">₹</span>
                        <input type="number" class="form-control" name="campground[price]" id="price" placeholder="000" aria-label="Amount" required>
                    </div>    
                <div class="mb-3">
                <label class="form-label" for="description">description</label>
                <input class="form-control" type="text" name="campground[description]" id="description" required>
                </div>
                <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="file" name="images" id="image" multiple>
                <div class="invalid-feedback">
                    Maximum of 3 files allowed!
                </div>
                </div>
                <button class="btn btn-danger">Submit</button>
            </form>
            <a href="/campgrounds">Home</a>
        </div>
    
    </div>

